<!-- createReward -->
<!-- <div class="modal fade" id="createRewardArea" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true" th:fragment="createRewardArea">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="#" th:action="@{/creator/save-reward}" th:object = "${option}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="modal-header">
                    <h5 class="modal-title" id="smallmodalLabel">Add a reward</h5>
                    <small class="form-text text-muted">Offer tangible or intangible things that bring backers closer to your project.</small>
                </div>
                <div class="modal-body">
                    <div class="row form-group" style="display: none;">
                        <input type="text" id="input-option-id" name="text-input" placeholder="Title" class="form-control" th:field="*{optionId}">
                        <input type="text" id="input-project-id" name="text-input" placeholder="Title" class="form-control" th:field="*{projectId}">
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label"><b>Title</b></label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="input-reward-title" name="text-input" placeholder="Title" class="form-control" th:field="*{optionName}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label"><b>Amount</b></label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="input-reward-amount" name="text-input" class="form-control" th:field="*{fundMin}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label"><b>Description</b></label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea name="textarea-input" id="input-reward-description" rows="9" placeholder="Content..." class="form-control" th:field="*{optionDescription}"></textarea>
                        </div>
                    </div>
                    <div class="row form-group" id="item-list">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label"><b>Item</b></label>
                        </div>
                        <div class="col-12 col-md-9" >
                            <div class="row" th:each="item,i : ${option.itemDtoEntitiess}">
                                <div style="display: none;">
                                    <input type="text" placeholder="Item" id="text-input" name="text-input" class="form-control" th:field="*{itemDtoEntitiess[__${i.index}__].itemId}">
                                </div>
                                <div class="col-12 col-md-7">
                                    <input type="text" placeholder="Item" id="text-input" name="text-input" class="form-control" th:field="*{itemDtoEntitiess[__${i.index}__].itemName}">
                                </div>
                                <div class="col-12 col-md-3">
                                    <input type="text" id="text-input" placeholder="Quantity" name="text-input" class="form-control" th:field="*{itemDtoEntitiess[__${i.index}__].quantity}">
                                </div>
                                <div class="col-12 col-md-2">
                                    <button type="button" class="btn" data-toggle="modal" style="background-color: black; color: white;">
                                        remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 col-md-3"></div>
                        <div class="col-12 col-md-9">
                            <button type="button" class="btn"  style="width: 100%;color: white;background-color: black;"
                                    th:onclick="'openAddItemModal(\'' + *{projectId} + '\',\'' + *{optionId} + '\');'">
                                Add items
                            </button>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" value="save" name="action" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
<!-- add option modal  -->
<div class="row" id="createRewardArea" th:fragment="createRewardArea">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Add a rewards</strong>
                <small class="form-text text-muted">Offer tangible or intangible things that bring backers closer to your project.</small>
            </div>
            <div class="card-body card-block custom-col">
                <form action="" th:action="@{/creator/save-reward}" th:object = "${option}" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group" style="display: none;">
                        <input type="text" id="input-project-id" name="text-input" placeholder="Title" class="form-control" th:field="*{projectId}">
                    </div>
                    <!-- Project title and subtitle -->
                    <div class="row form-group">
                        <div class="col col-md-5">
                            <label class=" form-control-label"><b>Title</b></label>
                        </div>
                        <div class="col-12 col-md-7">
                            <input type="text" id="title-inp" name="text-input" placeholder="Title" class="form-control" th:field="*{optionName}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5">
                            <label class=" form-control-label"><b>Amount</b></label>
                        </div>
                        <div class="col-12 col-md-7">
                            <input type="text" id="amount-inp" name="text-input" class="form-control" th:field="*{fundMin}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5">
                            <label class=" form-control-label"><b>Description</b></label>
                        </div>
                        <div class="col-12 col-md-7">
                            <textarea name="textarea-input" id="textarea-input" rows="9" placeholder="Content..." class="form-control" th:field="*{optionDescription}"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5">
                            <label  class=" form-control-label"><b>Item</b></label>
                        </div>
                        <div class="col-12 col-md-7" >
                            <div class="row" th:each="item,i : ${option.itemDtoEntities}">
                                <div style="display: none;">
                                    <input type="text" placeholder="Item" id="text-input" name="text-input" class="form-control" th:field="*{itemDtoEntities[__${i.index}__].itemId}">
                                </div>
                                <div class="col-12 col-md-7">
                                    <input type="text" placeholder="Item" id="text-input" name="text-input" class="form-control" th:field="*{itemDtoEntities[__${i.index}__].itemName}">
                                </div>
                                <div class="col-12 col-md-3">
                                    <input type="text" id="text-input" placeholder="Quantity" name="text-input" class="form-control" th:field="*{itemDtoEntities[__${i.index}__].quantity}">
                                </div>
                                <div class="col-12 col-md-2">
                                    <button type="button" class="btn" data-toggle="modal" style="background-color: black; color: white;"
                                            th:onclick="'openRemoveItemModal(\'' + *{projectId} + '\',\'' + *{optionId} + '\',\'' + *{itemDtoEntities[__${i.index}__].itemId} + '\');'">
                                        remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 col-md-5"></div>
                        <div class="col-12 col-md-7">
                            <button type="button" class="btn"  style="width: 100%;color: white;background-color: black;"
                                    th:onclick="'openNewOptionAddItemModal(\'' + *{projectId} + '\');'">
                                Add items
                            </button>
                        </div>
                    </div>
                    <div class="custom-modal-button-container">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit reward modal -->

<!--edit reward area-->
<div class="row" id="editRewardArea" th:fragment="editRewardArea">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Add a rewards</strong>
                <small class="form-text text-muted">Offer tangible or intangible things that bring backers closer to your project.</small>
            </div>
            <div class="card-body card-block custom-col">
                <form action="" th:action="@{/creator/save-reward}" th:object = "${option}" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group" style="display: none;">
                        <input type="text" id="input-option-id" name="text-input" placeholder="Title" class="form-control" th:field="*{optionId}">
                        <input type="text" id="input-project-id" name="text-input" placeholder="Title" class="form-control" th:field="*{projectId}">
                    </div>
                    <!-- Project title and subtitle -->
                    <div class="row form-group">
                        <div class="col col-md-5">
                            <label class=" form-control-label"><b>Title</b></label>
                        </div>
                        <div class="col-12 col-md-7">
                            <input type="text" id="title-inp" name="text-input" placeholder="Title" class="form-control" th:field="*{optionName}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5">
                            <label class=" form-control-label"><b>Amount</b></label>
                        </div>
                        <div class="col-12 col-md-7">
                            <input type="text" id="amount-inp" name="text-input" class="form-control" th:field="*{fundMin}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5">
                            <label class=" form-control-label"><b>Description</b></label>
                        </div>
                        <div class="col-12 col-md-7">
                            <textarea name="textarea-input" id="textarea-input" rows="9" placeholder="Content..." class="form-control" th:field="*{optionDescription}"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-5">
                            <label  class=" form-control-label"><b>Item</b></label>
                        </div>
                        <div class="col-12 col-md-7" >
                            <div class="row" th:each="item,i : ${option.itemDtoEntities}">
                                <div style="display: none;">
                                    <input type="text" placeholder="Item" th:id="'input-item-id' + ${option.itemDtoEntities[__${i.index}__].itemId}" name="text-input" class="form-control" th:field="*{itemDtoEntities[__${i.index}__].itemId}">
                                </div>
                                <div class="col-12 col-md-7">
                                    <input type="text" placeholder="Item" th:id="'input-item-name' + ${option.itemDtoEntities[__${i.index}__].itemId}"  name="text-input" class="form-control" th:field="*{itemDtoEntities[__${i.index}__].itemName}">
                                </div>
                                <div class="col-12 col-md-3">
                                    <input type="text"  th:id="'input-item-quantity' + ${option.itemDtoEntities[__${i.index}__].itemId}"  placeholder="Quantity" name="text-input" class="form-control" th:field="*{itemDtoEntities[__${i.index}__].quantity}">
                                </div>
                                <div class="col-12 col-md-2">
                                    <button type="button" class="btn" data-toggle="modal" style="background-color: black; color: white;"
                                            th:onclick="'openRemoveItemModal(\'' + *{projectId} + '\',\'' + *{optionId} + '\',\'' + *{itemDtoEntities[__${i.index}__].itemId} + '\');'">
                                        remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 col-md-5"></div>
                        <div class="col-12 col-md-7">
                            <button type="button" class="btn"  style="width: 100%;color: white;background-color: black;"
                                    th:onclick="'openAddItemModal(\'' + *{projectId} + '\',\'' + *{optionId} + '\');'">
                                Add items
                            </button>
                        </div>
                    </div>
                    <div class="custom-modal-button-container">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- add item modal -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true" th:fragment="addItemModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="modal-header">
                    <h5 class="modal-title" id="smallmodalLabel">Edit your item</h5>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <label for="text-input" class=" form-control-label"><b>Choose one</b></label>
                            <select name="" id="itemListInput"  class="form-control" >
                                <option th:each="item : ${items}"
                                        th:value="${item.itemId}"
                                        th:text="${item.itemName}">Please select</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" th:onclick="'javascript:addToItemList();'">Choose this</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- remove item modal -->
<div class="modal fade" id="removeItemModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true" th:fragment="removeItemModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form action=""  method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="modal-body">
                    <div class="row form-group">
                        <div style="display: none">
                            <input id="project_id_input" type="text" th:value="${dto.projectId}">
                        </div>
                        <div style="display: none">
                            <input id="option_id_input" type="text" th:value="${dto.optionId}">
                        </div>
                        <div style="display: none">
                            <input id="item_id_input" type="text" th:value="${dto.newItemId}">
                        </div>
                        <div class="col col-md-12">
                            <label for="text-input" class=" form-control-label"><b>Are you sure to remove this item from the reward?</b></label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" th:onclick="'javascript:removeFromItemList();'">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Item creation modal -->
<div class="modal fade" id="addNewItem" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true" th:fragment="addNewItem">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"></form> -->
                <div class="modal-header">
                    <h5 class="modal-title" >Add new item</h5>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col col-md-5">
                            <label for="text-input" class=" form-control-label"><b>Item title</b></label>
                            <small class="form-text text-muted">Add a title that quickly and clearly describes this item</small>
                        </div>
                        <div class="col-12 col-md-7">
                            <input type="text" id="item-name-inp" name="item-name-inp" placeholder="Item name" class="form-control">
                        </div>
                        <div class="col-12 col-md-7" style="display: none;">
                            <input type="text" id="project-id-inp" class="form-control" th:value="*{projectId}">
                        </div>
                    </div>
                    <div class="model-footer">
                        <button type="button" class="btn btn-primary" th:onclick="'javascript:saveNewItem();'">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            <!-- </form> -->
        </div>
    </div>
</div>

<!-- Item edit modal -->
<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true" th:fragment="editItem">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"></form> -->
            <div class="modal-header">
                <h5 class="modal-title" >Edit item</h5>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col col-md-5">
                        <label for="text-input" class=" form-control-label"><b>Item title</b></label>
                        <small class="form-text text-muted">Add a title that quickly and clearly describes this item</small>
                    </div>
                    <div class="col-12 col-md-7">
                        <input type="text" id="item-name-inp" name="item-name-inp" placeholder="Item name" class="form-control" th:value="${item.itemName}">
                    </div>
                    <div class="col-12 col-md-7" style="display: none">
                        <input type="text" id="item-id-inp" name="item-id-inp" placeholder="Item name" class="form-control" th:value="${item.itemId}">
                    </div>
                    <div class="col-12 col-md-7" style="display: none;">
                        <input type="text" id="project-id-inp" class="form-control" th:value="${projectId}">
                    </div>
                </div>
                <div class="model-footer">
                    <button type="button" class="btn btn-primary" th:onclick="'javascript:updateItem();'">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>

<div class="modal fade" id="itemDelConfirmation" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" th:fragment="itemDelConfirmation"
     data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
<!--            <form action="#" th:object = "${category}" method="post" enctype="multipart/form-data" class="form-horizontal">-->
                <div class="modal-header">
<!--                    <div style="display: none">-->
<!--                        <input type="text" th:value="${itemId}">-->
<!--                        <input type="text" th:value="${projectId}">-->
<!--                    </div>-->
                    <h5 class="modal-title" id="staticModalLabel">Are you sure to delete this item?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This will also remove the item from all option package which contains it
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger"
                            th:onclick="'deleteItem(\'' + ${projectId} + '\',\'' + ${itemId} +  '\');'">Delete</button>
                </div>
<!--            </form>-->
        </div>
    </div>
</div>



<!-- Project review submit confirmation-->
<div class="modal fade" id="submitReviewConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" th:fragment="submitReviewConfirmationModal"
     data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Ready to submit your project?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" th:parameter = "${projectId}"
                        onclick = "submitReview(this.getAttribute('parameter'));" >Submit</button>
            </div>
        </div>
    </div>
</div>
<!--comment modal-->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true" th:fragment="commentModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollmodalLabel">Our comment about your project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div th:if="${basicTab} != null">
                    <h5 >Basic information</h5>
                    <p th:text="${basicTab}">
                    </p>
                </div>
                <br>
                <div th:if="${rewardTab} != null">
                    <h5 >Rewards and Items</h5>
                    <p th:text="${rewardTab}">
                    </p>
                </div>
                <br>
                <div th:if="${storyTab} != null">
                    <h5 >Project story</h5>
                    <p th:text="${storyTab}">
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Project launch submit confirmation-->
<div class="modal fade" id="submitLaunchConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" th:fragment="submitLaunchConfirmationModal"
     data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Ready to launch your project?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" th:parameter = "${projectId}"
                        onclick = "submitLaunch(this.getAttribute('parameter'));" >Launch</button>
            </div>
        </div>
    </div>
</div>