<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Title Page-->
    <title>Admin account management</title>

    <!-- Fontfaces CSS-->
    <link href="/user/css/font-face.css" rel="stylesheet" media="all">
    <link href="/user/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/user/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/user/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/user/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/user/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/user/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/user/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/user/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/user/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/user/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/user/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/user/css/theme.css" rel="stylesheet" media="all">
    <link href="/user/css/toastr.css" rel="stylesheet"/>
</head>

<body class="animsition">
<div class="page-wrapper">
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a th:href="@{/}">
                <img src="/images/logo.png" alt="Kickstar" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="has-sub" sec:authorize="!hasRole('ADMIN')">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-tachometer-alt"></i>Project management</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li sec:authorize="hasRole('CREATOR')">
                                <a class="js-arrow" th:href="@{/creator}">Your Project</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a class="js-arrow" th:href="@{/user/backed-project}">Backed Project</a>
                            </li>
                        </ul>
                    </li>
                    <li  sec:authorize="hasRole('ADMIN')">
                        <a class="js-arrow" th:href="@{/admin}">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/admin/project/pending-list}">
                            <i class="fas fa-check"></i>Pending approval project</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/admin/user/list}">
                            <i class="fas fa-user"></i>Admin account management</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/admin/category/list}">
                            <i class="fas fa-tag"></i>Category management</a>
                    </li>
                    <li class="active">
                        <a th:href="@{/user/account}">
                            <i class="fas fa-user"></i>Account management</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div>
                        </div>
                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="content">
                                        <a class="js-acc-btn" href="#" th:text="${#request.userPrincipal.name}"></a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="account-dropdown__footer">
                                            <a th:href="@{/logout}">
                                                <i class="zmdi zmdi-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    Admin account information
                                    <div style="float: right;"> <button class="btn btn-primary" th:onclick="'btn_edit_onclick()'">Edit</button></div>
                                </div>
                                <div class="card-body card-block" th:fragment="div-account-form">
<!--                                    <form action="#" method="post" th:action = "@{/user/save-account-info}" enctype="multipart/form-data" class="form-horizontal" th:object="${user_detail}">-->
                                    <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal" id="account_form">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Username</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <p class="form-control-static" th:text="${user.username}"></p>
                                                <input class="form-control-static" th:value="${user.id}" style="display: none" id="userId">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Password</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <a class="form-control-static" href="#" id="link-change-pass" th:onclick="'link_change_password_onclick()'">Change password</a>
                                            </div>
                                        </div>


                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">First name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text"  name="firstName"  placeholder="First name" class="form-control required" id="firstName" th:value="${user_detail.firstName}" disabled>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Last name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" placeholder="Last name" class="form-control" id="lastName" th:value="${user_detail.lastName}" disabled>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Email Input</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="email" placeholder="Enter Email" class="form-control" id="email" th:value="${user_detail.email}" disabled>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Address</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text"  name="text-input" placeholder="Address" class="form-control" id="address" th:value="${user_detail.address}" disabled>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Phone number</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" placeholder="Phone number" digits max="15" class="form-control" id="phoneNum" th:value="${user_detail.phoneNum}" disabled>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Country</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select name=""  class="form-control" id="countryId" th:value="${user_detail.countryId}" disabled>
                                                    <option th:each="country : ${countries}"
                                                            th:value="${country.countryId}"
                                                            th:text="${country.countryName}">Please select...</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Biography</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <textarea name="textarea-input" id="biography" rows="9" placeholder="Content..." class="form-control" style="resize: none" th:value="${user_detail.biography}" disabled></textarea>
                                                <small class="help-block form-text">We suggest a short bio. If it's 300 characters or less it'll look great on your profile.</small>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                                <div class="card-footer" id="card-footer" style="display: none">
                                    <button type="button" class="btn btn-primary btn-sm" th:onclick="'btn_save_onclick()'">
                                        <i class="fa fa-dot-circle-o"></i> Save
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm" th:onclick="'btn_cancel_onclick()'">
                                        <i class="fa fa-ban"></i> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" style="display: none" id="div-change-password">
                            <div class="card">
                                <div class="card-header">
                                    Change password
                                </div>
                                <div class="card-body card-block">
                                    <form action="" method="post" class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label  class=" form-control-label">Old password</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="password" id="old-password" name="hf-password" placeholder="Enter old password..." class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Password</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="password" id="new-password" name="hf-password" placeholder="Enter new password..." class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label  class=" form-control-label">Password</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="password" id="confirm-password" name="hf-password" placeholder="Confirm password" class="form-control">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm" th:onclick="'btn_save_password_change_onclick()'">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm" th:onclick="'btn_cancel_password_change_onclick()'">
                                        <i class="fa fa-ban"></i> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div id="changePasswordModalHolder"></div>-->

</div>

<!-- Jquery JS-->
<script src="/user/vendor/jquery-3.2.1.min.js"></script>
<!--<script src="/static/user/vendor/jquery.validate.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
<!-- Bootstrap JS-->
<script src="/user/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/user/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/user/vendor/slick/slick.min.js">
</script>
<script src="/user/vendor/wow/wow.min.js"></script>
<script src="/user/vendor/animsition/animsition.min.js"></script>
<script src="/user/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/user/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/user/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/user/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/user/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/user/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/user/vendor/select2/select2.min.js">
</script>
<script src="/user/js/jquery.toast.min.js"></script>
<script src="/user/js/toastr.min.js"></script>
<!-- Main JS-->

<script src="/user/js/main.js"></script>
<script src="/user/js/account-management.js"></script>

</body>

</html>
<!-- end document-->
