<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
<form action="">
    <div>
        <label>Username: </label>
        <input type="text" id="username">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="" id="password">
    </div>
</form>
<script src="" async defer></script>
</body>
</html>