<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Your projects</title>

    <!-- Fontfaces CSS-->
    <link href="/creator/css/font-face.css" rel="stylesheet" media="all">
    <link href="/creator/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/creator/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/creator/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/creator/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/creator/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/creator/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/creator/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/creator/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/creator/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/creator/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/creator/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="http://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
<!--    <link href="/creator/css/theme.css" rel="stylesheet" media="all">-->
    <link href="../css/custom-style.css" rel="stylesheet" media="all">


</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a th:href="@{/}">
                <img src="/images/logo.png" alt="Kickstar" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-tachometer-alt"></i>Project management</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li sec:authorize="hasRole('CREATOR')">
                                <a class="js-arrow" th:href="@{/creator}">Your Project</a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a class="js-arrow" th:href="@{/user/backed-project}">Backed Project</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/user/account}">
                            <i class="fas fa-user"></i>Account management</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div>
                        </div>
                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="content">
                                        <a class="js-acc-btn" href="#" th:text="${#request.userPrincipal.name}"></a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="account-dropdown__footer">
                                            <a th:href="@{/logout}">
                                                <i class="zmdi zmdi-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="custom-main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="top-campaign">
                                <h3 class="title-3 m-b-30">Project Overview</h3>
                                <div>
                                        <a class="au-btn au-btn-icon au-btn--green au-btn--small" style="float:right; margin: 20px 40px 20px 0;"
                                                th:href="@{/creator/create-project}"><i class="zmdi"></i>Create new </a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-top-campaign" id="project-lst-tbl">
                                        <thead>
                                        <tr>
                                            <th>Project</th>
                                            <th>Status</th>
                                            <th>Category</th>
                                            <th>Start date</th>
                                            <th>End date</th>
                                            <th>Funding goal</th>
                                            <th>Pledge</th>
                                            <th>Percentage of funding</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="tr-shadow" th:each="project : ${projects}">
                                            <td><a th:href="@{/creator/project/} + ${project.projectId}"><span th:text="${project.projectName}"></span></a></td>
                                            <td class="text-center" th:text="${project.statusName}"></td>
                                            <td class="desc" th:text="${project.categoryName}"></td>
                                            <td class="text-center" th:text="${#temporals.format(project.startDate, 'dd/MM/yyyy')}"></td>
                                            <td class="text-center" th:text="${#temporals.format(project.endDate, 'dd/MM/yyyy')}"></td>
                                            <td class="text-right" th:text="${project.goal}"></td>
                                            <td class="text-right" th:text="${project.pledged}"></td>
                                            <td class="text-right" ><span th:text="${project.percentPledged}"></span><span>%</span></td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="Edit" th:href="@{/creator/project/} + ${project.projectId}">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </a>
                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>

</div>

<!-- Jquery JS-->

<script src="/creator/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/creator/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/creator/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/creator/vendor/slick/slick.min.js">
</script>
<script src="/creator/vendor/wow/wow.min.js"></script>
<script src="/creator/vendor/animsition/animsition.min.js"></script>
<script src="/creator/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/creator/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/creator/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/creator/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/creator/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/creator/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/creator/vendor/select2/select2.min.js">
</script>

<!-- Datatable -->

<script src="http://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<!-- Main JS-->
<script src="/creator/js/creator-proj-lst-tbl.js"></script>
<script>
</script>
</body>

</html>
<!-- end document-->
